name: React APP

on:
  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Test execute cache-docker
      run: ./bin/cached-docker --print -i registry.heroku.com/reciclame-app/web

    - name: Set up Nodejs 10.16.3
      uses: actions/setup-node@master
      with:
        version: 10.16.3

    - name: Install
      run: npm ci

    - name: Test
      run: npm test

    - name: Build
      run: npm build
  deploy:
    if: contains(github.ref, 'master')
    needs: test
    env:
      APP_NAME: reciclame-app
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: login
        uses: actions/heroku@master
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        with:
          args: container:login

      - name: push
        uses: actions/heroku@master
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        with:
          args: container:push -a $APP_NAME web

          registry.heroku.com/<app>/<process-type>

      - name: release
        uses: actions/heroku@master
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        with:
          args: container:release -a $APP_NAME web
