on: push
name: Deploy to Heroku

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Set up Nodejs 10.16.3
      uses: actions/setup-node@master
      with:
        version: 10.16.3

    - name: Install
      run: npm ci

    - name: Linter
      run: npm test

    - name: Build
      run: npm build

    # - name: login
    #   uses: actions/heroku@master
    # - name: login
    #   uses: actions/heroku@master
    #   env:
    #     HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
    #   with:
    #     args: container:login
    # - name: push
    #   uses: actions/heroku@master
    #   env:
    #     HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
    #   with:
    #     args: container:push web
    # - name: release
    #   uses: actions/heroku@master
    #   env:
    #     HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
    #   with:
    #     args: container:release web
